/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "styleguide";

html, body {
  height:100%;
}

body {
  background: $almost-white;
  font-size: 13px;
}

.main-container {
  a {
    color: $cloudy-blue;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.menu {
  background: $cloudy-blue;
}

.board-button {
  background: $light-blue;
  height: 96px;
  cursor: pointer;
}

.new-board {
  background: $light-gray;
  height: 96px;
}

.board-button {
  span.title {
    font-size: 1.5em;
    display: inline-block;
    margin: 10px;
  }
}

.new-board {
  span.title {
    font-size: 0.9em;
    display: inline-block;
    margin: 5px;
  }
  input, button {
    margin: 5px;
  }
}

.board-col {
  form {
    input, button {
      margin: 2px 0px;
    }
  }
}

.new-column {
  background: $light-gray;

  h5.title {
    display: inline-block;
    margin: 5px;
  }

  form {
    input, button {
      margin: 2px 0px;
    }
  }
}

.task,
.board-column {
  .form-inline {
    input {
      width: 90%;
      padding: 3px;
      font-size: 13px;
    }
  }
}
